
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"  src="../../static/OCRapp/css/bootstrap.min.css">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OCR</title>
    </head>
    <body>
        {% include 'OCRapp/navbar.html' %}  
        
        {% for x in cherif %}
            <h1>{{x}}</h1>
        {% endfor %}
        <ul>
            <li> {{ cls.nom }}</li>
            <li> {{ cls.age }}</li>
            <li> {{ cls.master }}</li>
        </ul>
        <h2>{{yanis}}</h2>
    </body>
</html>